<!doctype html>
<html>
  <head>
    <title>Webpack Package</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Лента новостей (RSS)</h1>
      <!-- <p class="lead">Лента новостей (RSS)</p> -->
      <hr class="my-4">
      <p>Добавить ленту новостей.</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="rss" aria-label="rss">
      </div>
      <a class="btn btn-primary btn-lg" href="#" role="button">Добавить</a>
    </div>
  </body>
</html>
